form {
  width: 50%;
  height: auto;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 5px rgb(40, 40, 40, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

form div input {
  width: auto;
  height: 2rem;
  padding-left: 7px;
  border: 1.25px solid #808080;
  border-radius: 5px;
  outline-color: #d6170d;
}

form .login {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  background-color: #da251c;
  color: #fff;
}

form .login:hover {
  background-color: #d6170d;
}

.withGoogle {
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  color: #808080;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(218, 37, 28, 0.5);
}

.withGoogle:hover {
  background-color: #eee;
}

.withGoogle svg {
  font-size: 18px;
}
